extends layout

block variables
  - var bodyClass = 'profile-page'
  // Need to change the body class name so the appropriate style is used

block content
  .sidebar
    .welcome
      h1 Hello #{user}!

    .profile-picture
      if image
        img(src="data:image/png;base64," + image)
      form(method="post" action="/updateAccount" class="upload-button" enctype="multipart/form-data")
        input(type="file" id="fileUpload" onchange="this.form.submit()" name="profilePic")
        label(for="fileUpload") Upload New Pic

    .friends
      h1 Friends
      if friends.length === 0
        p You have no friends 😭
      else
        ul
          each friend in friends
            li
              .friend-info
                strong #{friend.name}
                if friend.isFriend
                  form(action=`/unfriend/${friend._id}`, method='post')
                    input(type='submit', name='unfriend', value='unfriend')
                else
                  form(action=`/friend/${friend._id}`, method='post')
                    input(type='submit', name='friend', value='friend')

    a.logout-link(href='/logout') Logout


  .post-feed
    .post-creation
      h2 Share a post!
      .error
        if errorMessage
          strong Error: #{errorMessage}
      form(action='/post', method='post')
        .form-group
          label(for='title') Title: 
          input(type='text', name='title')
        .form-group
          label(for='content') Content: 
          input(type='text', name='content')
        button(type='submit') Post

    h1 Posts
    if posts.length === 0
      p No posts available 😢
    else
      .posts-container
        each post in posts
          .post-box
            .profile-header
              if post.user.profilePic
                img(src="data:image/png;base64," + post.user.profilePic)
              else
                img(src="images/defaultpfp.jpg")
              .profile-details
                h3 #{post.user.name}
                p.timestamp #{post.formattedTimestamp}
            h2.post-title #{post.title}
            p.post-content #{post.content}