extends layout

block variables
  - var bodyClass = 'profile-page'
  // Need to change the body class name so the appropriate style is used

block content
  .sidebar
    .welcome
      h1 Hello #{user}!

    .profile-picture
      if image
        // Display the user's profile picture if available
        img(src="data:image/png;base64," + image)
      // Form to upload a new profile picture
      form(method="post" action="/updateAccount" class="btn btn-light" enctype="multipart/form-data")
        input(type="file" id="fileUpload" onchange="this.form.submit()" name="profilePic")
        label(for="fileUpload") Upload New Pic

    .friends
      h1 Friends
      if friends.length === 0
        // Message displayed if the user has no friends
        p You have no friends 😭
      else
        ul
          each friend in friends
            li
              .friend-info
                // Display each friend's name
                strong #{friend.name}
                if friend.isFriend
                  // Form to unfriend a user
                  form(action=`/unfriend/${friend._id}`, method='post')
                    input(type='submit' class='btn btn-light btn-sm' name='unfriend' value='unfriend')
                else
                  // Form to friend a user
                  form(action=`/friend/${friend._id}`, method='post')
                    input(type='submit' class='btn btn-light btn-sm' name='friend' value='friend')

    // Logout link
    a.logout-link(href='/logout') Logout

  .post-feed-content
    .post-feed
      .post-creation
        h2 Share a post!
        .error
          if errorMessage
            // Display an error message if there is one
            strong Error: #{errorMessage}
        form(id='post-form', method='post')
          .form-group
            // Input for post title
            label(for='title') Title: 
            input(type='text' class='form-control' name='title' value=title required)
          .form-group
            // Input for post content
            label(for='content') Content: 
            textarea(class="form-control" id="content" name='content' rows="4" required)= generatedText
          // Submit buttons for different routes
          button(type='submit' class='btn btn-light btn-submit' id='post-button') Post
          em Check out our new AI tools to elaborate your post!
          button(type='submit' class='btn btn-light btn-posthelper' id='expandcontent-button') Elaborate

      h1 Posts
      // Message displayed if there are no posts
      if posts.length === 0
        p No posts available 😢
      else
        .posts-container
          each post in posts
            .post-box
              .profile-header
                if post.user.profilePic
                  // Display the user's profile picture in the post header
                  img(src="data:image/png;base64," + post.user.profilePic)
                else
                  // Display a default profile picture if the user has none
                  img(src="images/defaultpfp.jpg")
                .profile-details
                  h3 #{post.user.name}
                  // Display the user's name and the formatted timestamp
                  p.timestamp #{post.formattedTimestamp}
              // Display the post title
              h2.post-title #{post.title}
              // Display the post content
              p.post-content #{post.content}

  // Script to route submit buttons to different places with the same data
  script.
    document.addEventListener('DOMContentLoaded', function() {
      var form = document.getElementById('post-form');
      var postButton = document.getElementById('post-button');
      var expandContentButton = document.getElementById('expandcontent-button');

      postButton.addEventListener('click', function() {
        form.action = '/post';
      });

      expandContentButton.addEventListener('click', function() {
        form.action = '/expandcontent';
      });
    });