extends layout

block variables
  - var bodyClass = 'profile-page'
  // Need to change the body class name so the appropriate style is used

block content
  .sidebar
    .welcome
      h1 Hello #{user}! 😃
      // Conditional block to display error message if it exists
      if errorMessage
        .error-message
          p Error: #{errorMessage}

    .profile-picture
      form(method="post" action="/updateAccount" class="p-8 border border-solid" enctype="multipart/form-data")
        p Visible Name:
          input(class="border" type="text" name="name")
        p Profile Picture:
          if image
          img(class="h-64 w-64" src="data:image/png;base64," + image)
          input(class="border" type="file" name="profilePic")
        br
        input(class='border' type="submit" value="Submit")

    .post-creation
      form(action='/post', method='post')
        br
        label(for='title') Title:
        input(type='text', name='title')
        br
        label(for='caption') Caption:
        input(type='text', name='caption')
        br
        label(for='content') Content:
        input(type='text', name='content')
        br
        button(type='submit') Post
        br

    .friends
      h1 Friends
      if friends.length === 0
        p You have no friends 😭
      else
        ul
          each friend in friends
            li
              strong #{friend.name}
              if friend.isFriend
                form(action=`/unfriend/${friend._id}`, method='post')
                  input(type='submit', name='unfriend', value='unfriend')
              else
                form(action=`/friend/${friend._id}`, method='post')
                  input(type='submit', name='friend', value='friend')

  .post-feed
    h1 Posts
    if posts.length === 0
      p No posts available 😢
    else
      .posts-container
        each post in posts
          .post-box
            h2 #{post.title}
            if post.caption
              p
                strong Caption: 
                | #{post.caption}
            p
              strong Content: 
              | #{post.content}
            p
              em Posted by: #{post.user.name}